html {
    font-size: 18px;
}

.md-html {
     font-size: 24px !important; 
}

a {
    color: #f4ad24;
    text-decoration: none;
}

.page-text > h1 {
    color:#f4ad24;
}

.page-content-light {
    background-color: #f2f2f2;
}

.page-content-medium {
    background-color: #475369;
    color: white;
}

.page-content-dark {
    background-color: #262b35;
    color: #f2f2f2;
}

.progress-bar {
    background-color: #f4ad24;
}

.progress {
    margin-bottom:2%;
}